
# Build artifacts
/ivay-backend/target/
/ivay-backend/build/
/ivay-frontend/node_modules/
/ivay-frontend/build/

# Maven
/ivay-backend/mvnw.cmd
/ivay-backend/mvnw
/ivay-backend/.mvn
/.metadata/

/ivay-backend/src/main/resources/*
/ivay-frontend/src/constants/api.js
